{% extends "base.html" %}
{% block title %}{{ problem }}{% endblock %}

{% block content %}
<h1>{{ problem }}</h1>
<p>
{{ problem.description }}
</p>

{% if files %}
 <h2 class="nopad">Attached Files</h2>
 {% for file in files %}
    <a href="{{ file.get_link }}"><div class='file'><h6>{{file.title}}</h6></div></a>
 {% endfor %}
 <br clear="all" /><br />
{% endif %}
    
{% if is_answered %}
  <p>
  You've answered this one already.  Go you!
  {% if problem.answer %}
    <br>The answer was {{ problem.answer }}, remember?
  {% endif %}
  </p>
{% else %} {% if form %}
  <p>
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
  </p>
{% endif %}{% endif %}
{% endblock %}
